<% if @posts.present? %>
  <%= render partial: 'shared/post', collection: @posts, as: :post %>
<% else %>
  <div>参加リクエストはありません</div>
<% end %>

<% if @posts.present? %>
  <%= paginate @posts %>
<% end %>
