<h1 style='color: red'>自分をお気に入りした人の募集一覧</h1>
<% if @posts.present? %>
  <%= render partial: 'shared/post', collection: @posts, as: :post %>
<% else %>
  <div>参加リクエストはありません</div>
<% end %>

<% if @posts.present? %>
  <%= paginate @posts %>
<% end %>
