<div class='container pt-5'>
  <div class='row mb-3'>
    <div class='col-lg-8 offset-lg-2'>
      <h1>募集詳細</h1>
      <div class='card-body'>
        <div class='row'>
          <ul class='list-inline'>
            <li class='list-inline-item'><%= current_user.name %></li>
            <li class='list-inline-item'><%= @post.created_at %></li>
          </ul>
          <div class='col-md-9'>
            <h3><%= @quest_name %></h3>
          </div>
        </div>
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
