<div class='blacklisting-user'>
  <span><%= blacklisting_user.name %></span>
  <span class='unblock-button'><%= render partial: 'shared/unblock', locals: {block_user_id: blacklisting_user} %></span>
</div>
