<div class='input-character-info'>
  <button type='button' onclick="setCharacterValue(this)" class="<%= count %> recruit-info-customize btn btn-primary">誰でも</button>
  <button type='button' onclick="setCharacterValue(this)" class="<%= count %> recruit-info-customize btn btn-primary">適性</button>
  <button type='button' onclick="setCharacterValue(this)" class="<%= count %> recruit-info-customize btn btn-primary">ガチャ限</button>
  <button type='button' onclick="setCharacterValue(this)" class="<%= count %> recruit-info-customize btn btn-primary">フォロワー</button>
</div>