<footer>
  <div id='footer'>
    <div id='footer-content'>
      <%= link_to '利用規約', '#', class: 'footer-links' %>
      <%= link_to 'プライバシーポリシー', '#', class: 'footer-links' %>
      <div>
        <p id='copy-right'>Copyright © 2020 <%= link_to 'monbirds', 'https://twitter.com/monbirds' %>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>