<div class='joined-user-info'>
  <% if joined_user.present? %>
    <div>
      <span>募集</span>
      <%= joined_user.recruiting_position.character %>
      <span>参加者</span>
      <%= joined_user.user.name %>
      <span>
        <%= render partial: 'shared/following_or_blocking', locals: { target_user: joined_user.user } %>
    </span>
    </div>
  <% else %>
    <div>参加者はいませんでした</div>
  <% end %>
</div>
