<div id='recruit_style_start'>
  <div class='recruit_style'>募集キャラクター</div>
  <% if recruit.character.present? %>
    <div class='recruit_style'><%= recruit.character %></div>
  <% else %>
    <div class='recruit_style'>何でも良いよ</div>
  <% end %>

  <div class='recruit_style'>募集詳細</div>
  <% if recruit.description.present? %>
    <div class='recruit_style'><%= recruit.description %></div>
  <% else %>
    <div class='recruit_style'>何でも良いよ</div>
  <% end %>
<!--  <div class="join-recruit-<%#= recruit.id %>">-->
    <%# if current_user.join.present? %>
      <%#= render partial: 'shared/unjoin_recruit', locals: {recruit: recruit} %>
    <%# else %>
      <%#= render partial: 'shared/join_recruit', locals: {recruit: recruit} %>
    <%# end %>
<!--  </div>-->

  <a id="start-game-<%= recruit.id %>" href="#">待機</a>
</div>
