<div id='posts-index'>
  <% if @posts.present? %>
    <%= render partial: 'shared/post', collection: @posts, as: :post %>
  <% else %>
    <div>アプリ説明をレンダーします</div>
  <% end %>
</div>
<%= paginate @posts %>
