@import 'header';
@import 'footer';
@import 'index';
@import 'new';

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.pagination{
 margin-left: 40%;
}