#terms {
  margin-top: 5%;
  margin-bottom: 5%;
  p {
    font-size: 25px;
  }
}

#explanation {
  margin-top: 10%;
  margin-bottom: 10%;
  #title {
    margin-bottom: 10%;
  }

  .explanation-contents {
    font-size: 25px;
    margin-top: 40%;
    .subtitle {
      text-decoration: underline;
    }
  }
}